#homepage {
  background-color: rgba(3, 4, 32, 0.8);
  overflow: hidden;
  position: relative;
}

.homePageContent {
  z-index: 2;
}

.page {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
}

.homepageTitle {
  font-size: 5em;
  line-height: 1;
  text-align: center;
  color: var(--COSMIC_LATTE);
  -webkit-text-stroke: 0.005em 2px 8px 4px rgb(13, 16, 101);
  margin: 0;
  margin-top: 0.5em;
}

.homepageBtn {
  height: 6em;
  width: 14em;
  margin: 0 auto;
  background-color: var(--DARK_BLUE);
  border-radius: 0.4em;
  border: 1px solid var(--COSMIC_LATTE);
}

.homepageBtn p {
  font-size: 2em;
  font-weight: bolder;
  color: var(--COSMIC_LATTE);
}

.homepageBgImg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  opacity: 0.8;
}

.starsHomeBanner {
  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: -1;
}

@media only screen and (max-width: 800px) {
  .homepageTitle {
    margin-bottom: 6rem;
    font-size: 4rem;
  }
  .homepageBgImg {
    display: none;
  }
  .starsHomeBanner {
    width: auto;
    height: 100vh;
  }
  .homepageBtn {
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: none;
    width: 100vw;
    border-left: none;
    border-right: none;
    border-radius: 0%;
  }
}

@media only screen and (min-width: 800px) {
  .homepageTitle {
    width: 6em;
    font-size: 8em;
  }
  .homepageBtn {
    width: 36em;
  }
}
