:root {
  --BLUE_SAPPHIRE: #22576E;
  --DARK_SLATE_GRAY: #1F5167;
  --TEAL_BLUE: #2B6985;
  --COSMIC_LATTE: #FEFBE8;
  --SPARTAN_CRIMSON: #A02416;
}

.red {
  color: var(--SPARTAN_CRIMSON);
}

.white {
  color: var(--COSMIC_LATTE);
  -webkit-text-stroke: 0.005em var(--DARK_SLATE_GRAY);
  font-weight: 400;
}

.blue {
  color: var(--DARK_SLATE_GRAY);
}

a {
  text-decoration: none;
  color: white;
}

.flexRow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexCol {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
