#contactTopSection {
  flex-wrap: wrap;
}

.contactHolder {
  width: 100vw;
  overflow: hidden;
}

.left {
  width: 50vw;
  min-width: 30em;
}

.right {
  width: 50vw;
  min-width: 30em;
  background-color: #222;
  height: 40em;
}

.header,
.details {
  font-size: 3em;
  font-weight: 100;
  margin: 0;
  width: 90vw;
  text-align: center;
  color: inherit;
}

.description {
  width: 90vw;
  font-size: 1.2em;
}

.schedule {
  font-size: 1.8em;
  font-weight: 300;
}

.promo {
  color: rgba(3, 4, 32, 1);
}

.promo a {
  color: rgba(3, 4, 32, 1);
}

@media only screen and (max-width: 800px) {
  .contactImg {
    background-size: 100% auto;
  }

  .right {
    height: 18em;
  }

  #contactForm {
  }

  .promo {
    margin-bottom: 6em;
    text-align: center;
  }
}

@media only screen and (min-width: 800px) {
  .description {
    width: 90%;
  }
}
