.prevBtn,
.nextBtn {
	z-index: 100;
	border-radius: 2px;
	background: #fff;
	color: #000;
	position: fixed;
	right: 11em;
	bottom: 2.4em;
	height: 3.8em;
  width: 6.8em;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid transparent;
}

.nextBtn {
  background: rgba(3, 4, 32, 1);
  color: #fff;
  right: 2.4em;
  bottom: 2.4em;
}

.nextBtn:hover {
  border: 1px solid white;
}

.prevBtn:hover {
	border: 1px solid #000;
}

/***************************/
/* media queries */
/***************************/
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
	.prevBtn {
		bottom: 0;
		left: 0;
		width: 50vw;
	}
	.nextBtn {
    bottom: 0;
    right: 0;
    width: 50vw;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {

}
